################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Abhishek.BookStore/.vs/Abhishek.BookStore/FileContentIndex
/Abhishek.BookStore/obj
